storeFile=preconnect-release-key.jks
storePassword=
keyAlias=preconnect
keyPassword=
DEVELOPMENT_TEAM=
FACULTY_REVIEWS_BEARER=
FINDER_LBS_ASSET_ID=62947edd1d41c8225011190f
FINDER_LBS_ACCESS_TOKEN=
REWARDED_AD_UNIT_ID=
BANNER_AD_UNIT_ID=
INTERSTITIAL_AD_UNIT_ID=
ADS_APP_ID_IOS=
