storeFile=preconnect-release-key.jks
storePassword=
keyAlias=preconnect
keyPassword=
DEVELOPMENT_TEAM=PDSDVKUX9W
REWARDED_AD_UNIT_ID=ca-app-pub-3940256099942544/5224354917
ADS_APP_ID_IOS=ca-app-pub-3940256099942544~1458002511
