# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.AppleDouble
.LSOverride

# Environment & secrets
.env
android/key.properties
*.jks

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
public

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Coverage
coverage/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/GeneratedPluginRegistrant.java
**/android/local.properties

# iOS/Xcode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/ServiceDefinitions.json
**/ios/**/Runner/GeneratedPluginRegistrant.*
ruby-install-0.9.3
chruby-0.3.9

# macOS
**/macos/**/Flutter/GeneratedPluginRegistrant.swift
**/macos/**/Flutter/ephemeral/
**/macos/**/Pods/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Crashlytics
crashlytics-build.properties
