# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
*.tmp
*.temp

# Environment and secrets
.env
android/key.properties
*.jks
*.keystore

# Local env helpers
.env.local.sh
.env.local.ps1

# Local properties backups
android/local.properties.bak

# JetBrains IDEs
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter, Dart, Pub, and Node
**/node_modules/
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
.firebase/
android/.kotlin/*
public/*

# Web
/web/server/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Coverage
coverage/

# Android and Gradle
.gradle/
**/android/.gradle
**/android/.cxx/
**/android/captures/
**/android/GeneratedPluginRegistrant.java
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/local.properties
android/app/src/main/jniLibs/
android/app/release/
android/app/profile/

# iOS and Xcode
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/Flutter/.last_build_id
**/ios/**/ServiceDefinitions.json
**/ios/**/Runner/GeneratedPluginRegistrant.*
**/ios/**/SourcePackages/
**/ios/**/*.xcresult
ruby-install-0.9.3
chruby-0.3.9

# macOS and Xcode
**/macos/**/Flutter/GeneratedPluginRegistrant.swift
**/macos/**/Flutter/ephemeral/
**/macos/**/Pods/
**/macos/**/Flutter/Generated.xcconfig
**/macos/**/*.xcresult

# Rust
native/preconnect_native/target/

# Crashlytics
crashlytics-build.properties

# Wrangler
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# Ephemeral
**/flutter/ephemeral/
**/ephemeral/
