<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PreConnect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PreConnect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>PreConnect needs camera access to scan QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>PreConnect uses Face ID to unlock the app.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>PreConnect needs access to the local network for AlarmKit and campus printing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PreConnect needs location access to connect and manage campus Wi-Fi.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PreConnect needs location access to connect and manage campus Wi-Fi.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>PreConnect needs location access to connect and manage campus Wi-Fi.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>PreConnect needs calendar access to add class alerts and reminders.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>PreConnect needs permission to add class events to your calendar.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PreConnect needs permission to save QR codes to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PreConnect needs photo access to scan QR codes from your gallery.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShortcutProfile</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Open Profile</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Profile</string>
			<key>UIApplicationShortcutItemType</key>
			<string>quick.profile</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShortcutClasses</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Open Classes</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Classes</string>
			<key>UIApplicationShortcutItemType</key>
			<string>quick.classes</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShortcutExams</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Open Exams</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Exams</string>
			<key>UIApplicationShortcutItemType</key>
			<string>quick.exams</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShortcutFriends</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Open Friends</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Friends</string>
			<key>UIApplicationShortcutItemType</key>
			<string>quick.friends</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>GIDClientID</key>
	<string>53508941136-rkgrsch5oa60g4absotjj7lgg7s6e7ji.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.53508941136-rkgrsch5oa60g4absotjj7lgg7s6e7ji</string>
				<string>preconnect</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
	</array>
</dict>
</plist>
