<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreConnect.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>202607000</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
				<key>dateExpires</key>
				<string>16/7/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FlutterMacOS.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_selector_macos.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mobile_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_macos.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202607000</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEFDE884D22D39D25D8EF74A099A75949C72F96C</string>
						<key>dateExpires</key>
						<string>16/7/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN5U548MGK</string>
						<key>name</key>
						<string>Lamppost</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>DN5U548MGK.com.sabbirba.preconnect</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:preconnect.app</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>DN5U548MGK</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>DN5U548MGK.*</string>
				</array>
			</dict>
			<key>name</key>
			<string>PreConnect.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>67b7da9d-63ab-4567-b430-4cd645cfd93f</string>
				<key>dateExpires</key>
				<string>16/7/27</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: com.sabbirba.preconnect</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DN5U548MGK</string>
				<key>name</key>
				<string>Lamppost</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
