#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"
#include "AppInfo.xcconfig"
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES
DEAD_CODE_STRIPPING = YES
STRIP_SWIFT_SYMBOLS = YES
MACOS_PROFILE_SPECIFIER = PreConnect macOS
MACOS_PROFILE_UUID = fcde6ead-c3e2-43f5-b663-f17f5ceb91e7



